<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description,  for: "exampleFormControlInput1", class: "form-label" %>
    <%= form.text_area :description, class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary w-100" %>
  </div>
<% end %>

